@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}
<link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css">

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div class="col-md-12">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Success</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            Please check your email to retrieve your password and login from <a href="@Url.Action("Login","Account")">here</a>.
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

@*<div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>*@

